openapi: "3.1.0"
info:
  version: "0.1.0"
  title: Grafana k6 Extension Registry Service
  summary: Query the Grafana k6 Extension Registry database.
  description: |
    The **Grafana k6 Extension Registry Service** enables read-only access to the Grafana k6 Extension Registry database.

    The Grafana k6 Extension Registry database contains **up-to-date information about registered extensions**. The basic data of the extensions (e.g. go module path, JavaScript import path, description) are registered manually, the other data (e.g. available versions, number of stars) are retrieved automatically via the **repository manager API** (GitHub, GitLab, etc.).

    Detailed information about response schemas can be found in the [schema documentation](https://registry.k6.io/schema). Schemas are defined in [registry.schema.json](https://registry.k6.io/registry.schema.json)

    The source code of extensions is automatically **statically analyzed** and a list of issues is generated.

    The k6 Extension **Catalog** is an **alternative representation** of the k6 Extension **Registry**. Most queries have an alternative counterpart that returns a catalog instead of a registry.

    You can [try the k6 Extension Registry Service](https://registry.k6.io/ui)!

    Information about modifying the registry (register new extensions, modify or delete existing registrations) can be found in the [grafana/k6-extension-registry](https://github.com/grafana/k6-extension-registry) GitHub repository.
  termsOfService: https://grafana.com/legal/terms/
  license:
    name: AGPL-3.0-only
    url: https://www.gnu.org/licenses/agpl-3.0.html
externalDocs:
  description: Find out more about Grafana k6 extensions
  url: https://grafana.com/docs/k6/latest/extensions/
servers:
  - url: https://registry.k6.io
tags:
  - name: global
    description: Access to the entire registry
  - name: module
    description: Query a specific extension
  - name: catalog
    description: Extension catalog queries
  - name: subset
    description: Query subsets of the registry
paths:
  /registry.json:
    get:
      tags:
        - global
      summary: Entire registry
      description: Download the entire registry as a single JSON file
      operationId: entireRegistry
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Registry"
  /catalog.json:
    get:
      tags:
        - catalog
      summary: Entire catalog
      description: Download the entire catalog as a single JSON file
      operationId: entireCatalog
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Catalog"
  /module/{module}/extension.json:
    get:
      tags:
        - module
      summary: Query an extension
      description: Query the data of a specific extension as a single JSON file
      operationId: getExtension
      parameters:
        - $ref: "#/components/parameters/module"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Extension"
        "404":
          description: module not found

  /tier/{tier}.json:
    get:
      tags:
        - subset
      summary: Subset by support
      description: Querying the subset of the registry containing the extensions with support specified in the parameter
      operationId: subsetByTier
      parameters:
        - $ref: "#/components/parameters/tier"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Registry"
        "404":
          description: tier not found
  /tier/{tier}-catalog.json:
    get:
      tags:
        - catalog
      summary: Catalog by support
      description: Query the catalog containing extensions available with a given support.
      operationId: catalogByTier
      parameters:
        - $ref: "#/components/parameters/tier"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Catalog"
        "404":
          description: tier not found

components:
  schemas:
    Registry:
      $ref: "./registry.schema.json#/$defs/registry"
    Extension:
      $ref: "./registry.schema.json#/$defs/extension"
    Catalog:
      description: |
        k6 Extension Catalog.

        The k6 extension catalog is an alternative representation of the k6 extension registry.
        The catalog stores the extension data in an associative array (object),
        where the key is the import path for JavaScript extensions, and the output name for output extensions.
        This data structure is optimized to resolve extensions as dependencies.
      type: object
      additionalProperties:
        $ref: "./registry.schema.json#/$defs/extension"
    Tier:
      $ref: "./registry.schema.json#/$defs/tier"

  parameters:
    module:
      in: path
      name: module
      required: true
      description: go module path of the extension
      examples:
        xk6-dashboard:
          value: "github.com/grafana/xk6-dashboard"
        xk6-sql:
          value: "github.com/grafana/xk6-sql"
      schema:
        type: string

    tier:
      in: path
      name: tier
      required: true
      description: tier to be queried
      examples:
        official:
          value: "official"
        community:
          value: "community"
      schema:
        $ref: "#/components/schemas/Tier"

